
<% include ../Page/header %>
        <div class="comment">
            <%if(message || message.id === undefined){%>
            <a href="/message/<%=message.id%>" class="avatar">
                <img src="https://randomuser.me/portraits/lego/7.jpg" alt="Logo">
            </a>

            <div class="metadata">
                <div class="date">
                    <%=message.created_at.fromNow()%>
                </div>
            </div>
            <div class="content">
                <div class="text">
                    <%=message.content%>
                </div>
            </div>
                <% } else {%>
                <div> <h2> Pas d'element correspondant </h2> </div>
                <% } %>

        </div>
<% include ../Page/footer %>